<section class="py-5 text-center container" id="contact">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Контакты:</h1>
      <br>
      <h3 class="fw-light">prdarishdery@gmail.com</h1>
      <br>
        <a href="https://t.me/visatobalii"><img class="p-1" src="{% static 'img/telegram.png' %}" width="50" height="50" alt="My image"></a>
        <a href="https://www.youtube.com/channel/UCs10KLV-yz3ykdz47WdaVIg/featured"><img class="p-1" src="{% static 'img/youtube.png' %}" width="50" height="50" alt="My image"></a>
        <a href="https://www.instagram.com/darishdery/"><img class="p-1" src="{% static 'img/instagram.png' %}" width="50" height="50" alt="My image"></a>
    </div>
  </div>
</section>