{% load static %} 
{% load i18n %}
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <img class="p-1" src="{% static 'img/main.ico' %}" width="40" height="40" alt="My image">
        <span class="fs-4">VISA TO BALI</span>
      </a>

      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 text-dark text-decoration-none" href="{% url "main_page:index" %}">{% trans 'Главная' %}</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="#article">{% trans 'Как попасть на Бали' %}</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="#price">{% trans 'Цены' %}</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="#contact">{% trans 'Контакты' %}</a>

        {% get_current_language as CURRENT_LANGUAGE %}
        {% get_available_languages as AVAILABLE_LANGUAGES %}
        {% get_language_info_list for AVAILABLE_LANGUAGES as languages %}
        <a class="me-3 py-2 text-dark text-decoration-none" {% trans "Язык" %}:</a>
            {% for language in languages %}
                <a href="/{{ language.code }}/"
                  {% if language.code == CURRENT_LANGUAGE %} class="me-3 py-2 text-Primary text-decoration-none" {% endif %}
                  class="me-3 py-2 text-dark text-decoration-none">
                  {{ language.name_local }}
                </a>
              </li>
            {% endfor %}
          </ul>

      </nav>
    </div>
