{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% load i18n %}

{% block title %}
  {% trans 'Виза Бали' %}
{% endblock %}

{% block content %}
<div class="bg-light"> <!-- отвечает за весь серый цвет -->

 
  {% if success %}
  <div class="alert alert-success text-center" role="alert">
    <strong>{% trans 'Заявка успешно отправлена, мы свяжемся с Вами в ближайшее время' %}</strong>
  </div>
  {% endif %}


  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">{% trans 'Туристическая/Бизнес eVisa B211 на Бали' %}</h1>
        <p class="lead text-muted">{% trans 'По данной визе вы можете прилететь на Бали в 2022 году, как с целью туризма, так и с бизнес целями. Цены и условия получения данных виз абсолютно одинаковые' %}.</p>
        <p>
          <a href="#post_form" class="btn btn-primary btn-lg my-2">{% trans 'Сделать визу' %}</a>
          <a href="https://t.me/visatobalii" class="btn btn-primary btn-lg my-2">{% trans 'Написать в Telegram' %}</a>
        </p>
      </div>
    </div>
  </section>





  <div class="album py-5 bg-light" id="article">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-3">      
        {% for article in articles %}
          <div class="col">
            <div class="card shadow-sm">
              {% thumbnail article.image "960x339" crop="center" upscale=True as im %}
              <img class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" src="{{ im.url }}">
              {% endthumbnail %}
              <div class="card-body">
                <h5 class="card-title">{{ article.title }}</h5>
                <p class="card-text">{{ article.text|truncatechars:120 }}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <!-- Button trigger modal -->
                      <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#article{{ article.pk }}">
                        {% trans 'Читать полностью ...' %}
                      </button>

                      <!-- Modal -->
                      <div class="modal fade" id="article{{ article.pk }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">{{ article.title }}</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              {{ article.text|linebreaks }}
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-primary btn-lg" data-bs-dismiss="modal">{% trans 'Закрыть' %}</button>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <br><br>






    <div class="row py-lg-5" id="price">
        <h2 class="text-center">
        {% trans 'Выбрать тариф' %}
        </h2>
    </div>
    <div class="center row row-cols-1 row-cols-md-3 mb-3 text-center">
        {% for service in services %}
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3 w-100">
              <h4 class="my-0 fw-normal">{{ service.title }}</h4>
              <small class="text-secondary">{% trans 'Срок выдачи визы - до ' %} {{service.amount_of_days}} {% trans ' рабочих дней' %} </small>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">${{ service.price }}</h1>
              <p>{{ service.text|linebreaks }}</p>

              
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#service{{ service.pk }}">
                {% trans 'Оформить' %} 
              </button>

              <!-- Modal -->
              <div class="modal fade" id="service{{ service.pk }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-center" id="exampleModalLabel">{{ service.title }}</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <form method="post" action="{% url 'main_page:index' %}" class="col-lg-6 col-md-8 mx-auto">
                        {% csrf_token %}
                        {% for form in forms %}
                        <div class="mb-3">
                          {{ form }}
                        </div>
                        {% endfor %}
                        <input type="hidden" value="{{ service.title }}" name="service">
                    </div>
                    <div class="modal-footer">
                      <button type="submit" class="btn btn-primary btn-lg" >{% trans 'Оформить' %}</button>
                    </div>
                      </form>
                  </div>
                </div>
              </div>


            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <br><br>



    <div class="row py-lg-5" id="post_form">
        <h2 class="text-center">
        {% trans 'Оставить заявку' %}
        </h2>
    </div>


      <form method="post" action="{% url 'main_page:index' %}" class="col-lg-6 col-md-8 mx-auto">
        {% csrf_token %}
        {% for form in forms %}
        <div class="mb-3">
          {{ form }}
        </div>
        {% endfor %}
        <input type="hidden" value="простая заявка" name="service">
        <div class="d-grid gap-2 col-6 mx-auto">
          <button type="submit" class="btn btn-primary btn-lg center-block">{% trans 'Отправить' %}</button>
        </div>
      </form>
      <br><br>
    </div>


</div>
{% endblock %}